.form {
	max-width: 600px;
	padding: 15px;
	margin: 0 auto;
}

.form .form-heading, .form {
	margin-bottom: 10px;
}

.form {
	font-weight: normal;
}

.form .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form .form-control:focus {
	z-index: 2;
}

.form input[type="text"], .form input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.panel-heading .checkbox {
	margin: 0;
}

textarea {
	resize: vertical;
	min-height: 200px;
	max-height: 400px;
}